version: '2.1'

services:

  php:
    image: wodby/drupal-php:7.1-dev-4.2.2
    environment:
      DB_HOST: db
      DB_USER: spark
      DB_PASSWORD: spark
      DB_NAME: spark
      DB_DRIVER: mysql
      COMPOSER_ALLOW_SUPERUSER: 1
      SPARK_PHP: 1
    working_dir: /var/www/html/web
    volumes:
      - "${SPARK_WORKDIR}:/var/www/html"

  nginx:
    image: wodby/drupal-nginx:8-1.13-4.0.2
    depends_on:
      - php
    environment:
      NGINX_SERVER_NAME: localhost
      NGINX_STATIC_CONTENT_OPEN_FILE_CACHE: "off"
      NGINX_ERROR_LOG_LEVEL: debug
      NGINX_BACKEND_HOST: php
      NGINX_SERVER_ROOT: /var/www/html/web
    volumes:
      - "${SPARK_WORKDIR}:/var/www/html"
    ports:
      - "7500:80"

  db:
    image: wodby/mariadb:10.1-2.3.5
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: spark
      MYSQL_USER: spark
      MYSQL_PASSWORD: spark
    healthcheck:
      test: "mysqladmin -uroot -proot ping --silent"
    ports:
      - "7501:3306"
